.post-img{
   height:270px;
   overflow:hidden;
   width:100%;
   margin:10px;
   /* used to cut cut according to size%; */
}
/* .post-img img{
  width:100%; 
} */ 
.blogpost-content{
  text-align: center;
}
.social svg{
  background: rgb(252, 205, 205);
  /* border: 2px rgb(252, 205, 205); */
  border-radius: 10px;;
}